ollama
faster-whisper
nvidia-cublas-cu12
nvidia-cudnn-cu12
nvidia-cuda-runtime-cu12
edge-tts
SpeechRecognition
pygame
pyaudio
pypdf
chromadb
python-dotenv
yt-dlp
psutil
PyAudioWPatch
imageio-ffmpeg
ddgs
pydantic
tenacity
python-docx
openpyxl
python-pptx
reportlab
PyYAML
