ollama
faster-whisper
nvidia-cublas-cu12
nvidia-cudnn-cu12
nvidia-cuda-runtime-cu12
edge-tts
SpeechRecognition
pygame
pyaudio
pypdf
chromadb
python-dotenv
yt-dlp
psutil
soundcard
PyAudioWPatch
imageio-ffmpeg